li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-bottom: 25px;
  padding: 20px;
  box-shadow: 5px 5px 0px 0 black;
}

.cardMessage {
  font-weight: 600;
  line-height: 20px;
  word-break: break-word;
  /* border: 1px solid red; */
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
  margin-top: 20px;
}

.hearts {
  display: flex;
  align-items: center;
  /* border: 1px solid turquoise; */
  width: 50%;
}

.heartCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.07);
  transition: all .2s ease-in-out;

  &:hover {
    background: rgba(255, 0, 0, 0.3);
    transform: scale(1.25);
  }

  &:active {
    // background: rgba(0, 128, 0, 0.3);
  }
}

.heartCount {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

i {
  font-size: 14px;
  color: red;
}

.timeStamp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  /* border: 2px solid yellow; */
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
}

.timeStamp span {
  /* border: 1px solid green; */
  margin: 0;
}

.heart {
  width: 15px;
}